.mainServerWindow {
    width: 100%;
    box-sizing: border-box;
    background: var(--bg-color);
    background-size: cover;
    background-position-x: 50%;
    user-select: none;
    display: grid;
    grid-template-rows: auto 1fr;
    padding-top: 50px;
}

.serverInfo {
    box-sizing: border-box;
    margin-left: 50px;
    display: flex;
}

.serverInfot {
    margin-left: 10px;
    align-content: space-around;
}

.serverName {
    font-family: "Roboto" sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    line-height: 1;
    margin-bottom: 5px;
}

.serverIcon {
    width: 64px;
    height: 64px;
}

.serverOnlineDiv {
    display: flex;
    align-items: center;
}

.serverOnline {
    font-family: "Roboto" sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    line-height: 1;
}

.serverOnlineMax {
    font-family: "Roboto" sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.5);
}

.serverNameDiv {
    display: flex;
}

.circle {
    border-radius: 100%;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.serverOnlineDiv1 {
    display: flex;
    align-items: end;
}

.serverInformation {
    background-color: rgba(0, 0, 0, 0.45);
    height: 100%;
    position: relative;
    margin-top: 50px
}

.upsideGradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%);
    pointer-events: none;
}