@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    color: white;
    background: #0B0B0B;
    font-family: "Roboto";
    user-select: none;
}

body {
    font-family: "Roboto";
    background: #0B0B0B;
    color: #fff;
    overflow: hidden;
}

::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.2);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 0, 0, 0.3);
}

::-webkit-scrollbar-corner {
    background: transparent;
}