@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    color: white;
    background: #0B0B0B;
    font-family: "Roboto";
    user-select: none;
}

body {
    font-family: "Roboto";
    background: #0B0B0B;
    color: #fff;
    overflow: hidden;
}